h2 {
    text-align: center;
    margin-bottom: 20px;
}
.rate-section{
    background: rgb(103,195,243);
    background: linear-gradient(90deg, rgba(103,195,243,1) 0%, rgba(90,152,242,1) 35%);
    border-radius: 3rem;
    padding: 1rem;
}
.rate {
    display: flex;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
}

 img {
    max-width: 7rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
}

.name {
    font-weight: bold;
    margin: 0;
}

.title {
    font-size: 0.9em;
    margin: 0;
}

.comment {
    flex: 1;
    font-style: italic;
}