div {
    h3 {
      font-family: 'Mulish', sans-serif;
      font-size: 3.5rem;
    }
  
    p {
      font-size: 1.5rem;
    }
  
   button {
      display: inline-block;
      background-color: blue;
      color: white;
      padding: 1rem 1rem;
      border-radius: 55px;
      text-decoration: none;
      
    }
  }
  
.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
  
.article__image {
  max-width: 35rem;
  height: auto;
  @media screen and (max-width: 600px){
  display: none;
  }
}
