main {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
app-rate{
  color: white;
}
img {
  max-width: 50%;
    height: auto;
    @media screen and (max-width: 600px){
      display: none;
    }
}